<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:800|Alegreya+Sans:800|Assistant|Concert+One|Cutive+Mono|Dosis|Lato:400,700|Martel+Sans:800|Merriweather+Sans:700|Montaga|Montserrat:300,400|Noto+Sans:700|Open+Sans:400,700|PT+Sans|Source+Sans+Pro:700|Ubuntu:300,300i,400,400i,500,700|Work+Sans:700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <title>Shortener</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">Shortener</a>
      <a class="navbar mr-1" style="padding-left: 500px;" href="/stats"
        >Statistics</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    </nav>
    <div class="container">
      <h1 style="text-align: center; padding-top: 20px;">
        Make it short Make it better
      </h1>

      <form action="/shortUrls" method="POST" class="my-4 form-inline">
        <label for="Url" class="sr-only">URL</label>
        <input
          required
          placeholder="Url goes here"
          type="url"
          name="Url"
          id="Url"
          class="form-control col mr-2"
        />

        <button class="btn button1 text-white" type="submit">
          Shortener
        </button>
      </form>
      <div id="url-main">
        <%var i=0%> <% shortUrls.map(shortUrl => { i=i+1%>
        <%if(i===shortUrls.length){%>
        <a href="<%= shortUrl.short %>"><%= shortUrl.short %></a>

        <%}%> <% }) %>
      </div>
    </div>
  </body>
</html>
