body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #989898;
  background-color: #181c22;
}
h1 {
  color: #181c22;
}

.container {
  padding-top: 100px;
}
.navbar {
  background-color: #fff;
  color: #181c22;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#url-main {
  position: relative;
  width: 95%;
  background: #090d13;
  margin: 0 auto;
  padding: 20px;
  margin-top: 70px;
  box-sizing: border-box;
}

form {
  margin: 0;
  content: "";
  display: block;
  clear: both;
}

input[type="text"] {
  width: 70%;
  padding: 20px;
  background: #181c22;
  border: 0;
  float: left;
  font-size: 20px;
  color: #989898;
}

/* .button1 {
  padding: 20px;
  width: 30%;
  
  
  height: 20px;
  float: left;
  background: transparent;
  box-sizing: border-box;
  cursor: pointer;
  
} */
.button1 {
  border: 2px solid goldenrod;
  background: transparent;
  box-sizing: border-box;
  font-size: 20px;
  color: aliceblue;
}
.button1:hover {
  color: rgb(218, 100, 32);
}
a {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-family: arial;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 1px;

  color: #fff;
}

a:hover {
  text-decoration: none;
  color: rosybrown;
}

.array-container {
  position: absolute;
  left: 100px;
  margin-top: 20px;
}
.array-bar {
  width: 50px;
  background-color: pink;
  display: inline-block;
  margin: 0 1px;
}

#short-url {
  float: left;
}
.copy-btn {
  box-sizing: border-box;
  border: 2px solid greenyellow;
  background-color: #202020;
  color: #fff;
}
.copy-btn:hover {
  color: #989898;
  background-color: #181c22;
}
